*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
.container{
    padding: 20px 50px;
}
.top-bar{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    align-items: center;
}
.top-bar .logo{
    font-size: 35px;
    font-weight: 700;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    margin-left: 25px;
    font-size: 16px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(39, 38, 38);
    padding: 15px;
    
}
nav ul li a:hover{
    color: darkblue;
    border-bottom: 2px solid darkblue;
}
.header-description-section{
    display: grid;
    grid-template-columns: repeat(1, 90%);
    gap: 10px;
    justify-content: center;
    padding: 40px;
}
.header-info{
    margin: 50px 50px;
    text-align: center;
}
.title{
    font-size: 44px;
    font-weight: 700;
    color: #131313;
}
p{
    color: #4e4d4d;
    margin: 20px 0px;
}
img{
    width: 100%;
    height: 100%;
  }
.btn{
    padding: 15px 25px;
    background-color: #FF900E;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #FF900E;
    border-radius: 5px;
    transform: 1s ease;
}
.btn:hover{
    background-color: #fff;
    color: #FF900E;
    cursor: pointer;
} 
.header-img img{
    width: 100%;
}
/* header part end */
.features ,.feature-details-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 70px;
    margin: 50px 0px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.feature-img img{
    transition: 1s ease-in-out;
}
.feature-img img:hover{
    transform: rotate(60deg);
    border: 5px solid #FF900E;
    
}
.grey{
    color: grey;
}
.black{
    color:black
}
.orange{
    color: #FF900E;
}
.feature-des{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding-top: 40px;
}
.feature-des h2{
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}
.feature-single-info{
    box-shadow: 0px 3px 35px 0px rgba(196,185,185,0.75);
    padding: 25px 20px;
    transition: 1s ease;
}
.feature-single-info:hover{
    background-color: #f79627;
    color: #fff;
    box-shadow: 0px 3px 35px 0px rgba(247, 153, 13, 0.75);
}
.feature-single-info:hover p{
    color: #fff;
    transition: 1s ease;
}
.feature-single-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .feature-single-img button{
    display: grid;
    padding: 25px 20px;
  }
  .feature-single-img button .year{
    font-size: 40px;
  }
.feature-single-img .overly{
        position: relative;
        top: -61px;
        left: -41px;
      }
      
/* feature css end */
.section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.section-icon , .sponser-icon{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 80px;
    padding: 40px;
}
.single-icon{
    border: 1px solid #FF900E;
    padding: 20px;
}
.single-icon img{
    height: 46px;
    width: 46px;
}
.single-icon span{
    display: block;
    font-size: 44px;
}
.single-icon h4{
    font-size: 16px;
    color:#4e4d4d;
    margin-top: 10px;
}

/*  some part css end */

.sponspors{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    justify-content: center;
    margin-bottom: 30px;
}
.sponspor-title{
    text-align: center;
    padding: 40px 20px;
}
.sponser-icon img{
    height: 100%;
    width: 100%;
}
/* sponser css end */
footer .footer-area{
    background-color: rgba(255, 144, 14, 0.1);
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

/* Responsive media query start */
@media only screen and (max-width: 576px) {
    .container {
        padding: 0px 20px;
      }
    .top-bar{
      flex-direction: column;
  }
  nav ul li a{
    padding: 5px;
  }
  .header-description-section {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
  }
  .header-info {
    margin: 0px;
  }
  .header-description-section {
    padding: 10px;
  }
  .features, .feature-details-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    margin: 10px 0px;
  }
  .section-icon, .sponser-icon {
    display: flex;
    justify-self: center;
    gap: 10px;
    flex-direction: column;
  }
  .single-icon {
    margin: 10px;
  }
  .feature-single-img, .overly {
    right: -4px;
  }
  .title{
    font-size: 38px;
  }
  }
  @media only screen and (max-width: 577px) and (min-width: 992px){
    .top-bar{
        flex-direction: column;
    }
    .header-description-section {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
    }
    .features, .feature-details-section {
      grid-template-columns: repeat(1, 1fr);
      margin: 10px 0px;
    }
    .section-icon{
      flex-direction: column;
    }
    .feature-single-img, .overly {
      right: -4px;
    }
  }

